
<h1>Events</h1>
  <table>
    <tbody>
      <tr>
        <strong>Description:</strong>
      </tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.description %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
